<h1>Add an Item</h1>
<div class="form-container">
    <form method="post">
        <div class="form-group">
            <label for="firstName">What I offer</label>
            <input type="text" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
        </div>
        <div class="form-group">
            <label for="lastName">Looking For:</label>
            <input type="text" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-click="vm.saveItem()">Save</button>
            <button class="btn btn-danger" ng-click="vm.cancelItem()">Cancel</button>
        </div>
    </form>
</div>
